.App {
  text-align: center;
}
.inputContainer {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gainsboro;
  padding: 5px;
}
.inputContainer .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.inputContainer .tag .deleteTag:hover {
  cursor: pointer;
}
.inputContainer .textInput {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
}
.inputContainer .textInput:focus {
  outline: none;
}
